
.album-cover {
    padding-right: 50px;
    padding: 30px;
}

img {
    max-width: 170px;
    max-height: 170px;
}

.list-group-item {
    padding-left: 40px;
}

.song-link {
    padding-left: 40px;
}

body {
    padding: 40px;
    min-width: 90%;
    max-width: 100%;
}

.subtitle{
    padding-left: 20px;
}

.song-link{
    left: 0px;
}

.title{
    font-size: 500%;
}
.rainbow {
    background-image: -webkit-gradient( linear, left top, right top,
                                        color-stop(0.9, #ff2),
                                        color-stop(1, #f22),
                                        color-stop(0, #f22),
                                        color-stop(0.15, #f2f),
                                        color-stop(0.3, #22f),
                                        color-stop(0.45, #2ff),
                                        color-stop(0.6, #2f2),
                                        color-stop(0.75, #2f2));
    background-image: gradient( linear, left top, right top,
                                color-stop(0.9, #ff2),
                                color-stop(1, #f22),
                                color-stop(0, #f22),
                                color-stop(0.15, #f2f),
                                color-stop(0.3, #22f),
                                color-stop(0.45, #2ff),
                                color-stop(0.6, #2f2),
                                color-stop(0.75, #2f2));
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.delete-link {
    float: right;
    font-size: 15px;
}

#banner {
    float: top;
    min-height: 40px;
    background: #668cff;
    padding: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px, sans-serif; color: #282;
    text-align: left;
    padding-left: 40px;


}

#link-list {
    padding-top: 10px;
    float: bottom;
    font-size: 20px;
}
#link-item {
    padding-top: 20px;

}
#link{
    color: white;
}



.content {
    padding-top: 20px;
    padding-left: 20px;
}

