{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block contents %}

<div class="subtitle">
  <h2> Play A Song! </h1>
</div>


<ul class="list-group">
  {% for song in songs %}
  <li class="list-group-item">
    <a class="song-link" href='/read_mp3/{{song[0]}}'>
      <h4>
        <span class="album-cover">
          <img  src="/static/albums/{{song[2]}}">
        </span>
        <span class="song-link">
          {{song[1]}}
        </span>
      </h4>
    </a>
    <span class="delete-link">
      <a href="/delete_song/{{song[0]}}">
        Delete
      </a>
    </span>


    {% endfor %} 
</ul>

<a href="/upload"> <h2> Or add your own </h2> </a>

{% endblock %}
    
