{% extends "base.html" %}
{% block contents %}

      <form action="/upload" method="POST" enctype="multipart/form-data">

          <fieldset>
            <legend>Upload an mp3</legend>

            <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" required /><br><br>

            <label>MP3 File</label>
            <input type="file" name="mp3" required /><br>
            <span class="usrMsg">ONLY UPLOAD MP3 files</span><br><br>

            </div>
            <legend> (optional) Upload album cover </legend>
            <label> Album Cover </label>
            <input type="file" name="album-cover" /><br>

            <input type="submit" value="Submit" id="submit" >
          </fieldset>

        </form>
    </div>
{% endblock %}
